:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #212121;
    --secondary-color: #ffffff;
    --accent-color: #2196f3;
    --p-text-color: #757575;
    --hero-footer-color: #2f303a;
    --our-team-color: #f5f4fa;
}

body {
    font-family: var(--main-font);
    background-color: var(--secondary-color);
    color: var(--main-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/*Стилізація хедера*/
.logo-header {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.header-icon-web {
    color: var(--accent-color);
}

.header-icon-studio {
    color: var(--main-color);
}

.list-item-link {
    color: var(--main-color);
}

.list-item-link-current {
    color: var(--accent-color);
}

.list-item-link:hover,
.list-item-link:focus {
    color: var(--accent-color);
}

.list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
/*Стилізація мейна вебстудії*/

.hero {
    background-color: var(--hero-footer-color);
    text-align: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.hero-push {
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--secondary-color);
    cursor: pointer;
}

.plus-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.plus-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--p-text-color);
}

.our-team {
    background-color: var(--our-team-color);
}

.second-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.third-title {
    font-weight: 500;
}

.third-text {
    font-weight: 400;
    color: var(--p-text-color);
}

.united {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}

/*Стилізація мейна Портфоліо*/
.button-class {
    font-family: inherit;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    cursor: pointer;
}
.button-current {
    color: var(--secondary-color);
    background-color: var(--accent-color);
}

.button:hover,
.button:focus {
    color: var(--secondary-color);
    background-color: var(--accent-color);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--p-text-color);
}

/*Стилізація футера*/
.footer {
    background-color: var(--hero-footer-color);
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.logo-footer {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}

.footer-list {
    font-style: normal;
}
